$bright-pink: #e03c8a;
$charcoal-grey: #313131;
$bright-blue: #2590da;
$bright-orange: #e67212;
$black: #000000;
$transparent-black: #0000007a;
$transparent-orange: #e671128d;

// '#e03c8a', '#2590da', '#e67212', '#5e936f', '#d3c041'

$background: $black;
$orange-shadow: $transparent-orange;

$font-family: 'Fira Code', monospace;

$media-small: 320px;
$media-medium: 768px;
$media-large: 1024px;
$media-xl: 1200px;
