@use '../utils/variables' as v;
@use '../utils/mixins' as m;

canvas {
  @include m.borders($size: 5px, $type: ridge, $color: v.$bright-blue);
  @include m.misc-shadow(
    $x: 5px,
    $y: 4px,
    $blur: 15px,
    $color: v.$transparent-orange
  );
  //   margin-left: 150px;
  //   margin-top: 85px;
  //   margin-bottom: 20px;
  // border: 5px solid rgba(72, 255, 0, 0.945);
  border-radius: 5px;
}
