@use '../utils/variables' as v;
@use '../utils/mixins' as m;

canvas {
  @include m.borders($size: 2px, $type: solid, $color: v.$bright-orange);
  @include m.misc-shadow(
    $x: 5px,
    $y: 4px,
    $blur: 15px,
    $color: v.$transparent-orange
  );
  //   margin-left: 150px;
  //   margin-top: 85px;
  //   margin-bottom: 20px;

  border-radius: 5px;
}
