@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.btn-group .control-button {
  @include m.btn-shadow($color: v.$bright-pink);
  @include m.borders($size: 1px, $type: solid, $color: v.$bright-pink);
  color: v.$bright-pink;
  max-width: 115px;
  height: 35px;
  background-color: v.$background;
  border-radius: 5%;
  margin: 10px;

  &:hover {
    @include m.btn-shadow($color: v.$bright-orange);
    @include m.borders($size: 1px, $type: solid, $color: v.$bright-orange);
    color: v.$bright-orange;
    background-color: v.$background;
  }
}
