@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.preset-button {
  @include m.btn-shadow($color: v.$bright-orange);
  @include m.borders($size: 1px, $type: solid, $color: v.$bright-orange);
  margin-bottom: 30px;
  width: 135px;
  height: 30px;
  font-size: small;
  background-color: v.$background;
  color: v.$bright-orange;

  &:hover {
    @include m.btn-shadow($color: v.$bright-pink);
    @include m.borders($size: 1px, $type: solid, $color: v.$bright-pink);
    color: v.$bright-pink;
    background-color: v.$background;
  }

  // border: 5px solid rgba(72, 255, 0, 0.945);
}
