@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.App {
  background-color: v.$black;
  color: v.$bright-pink;
}

* {
  box-sizing: border-box;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// .container {
//   overflow: hidden;
// }

// .boardgame-component-control-panel {
//   border: 2px dashed yellow;
// }

// .controls {
//   border: 3px solid green;
// }
// // .canvasview {
// //   border: 3px dashed rgb(226, 47, 158);
// // }
// .game {
//   border: 5px solid orange;
// }

.about-section {
  // border: 2px solid blue;
}

.rules-section {
  // border: 2px solid yellow;
}

// .rules {
//   border: 2px solid white;
// }

// .control-panel {
//   border: 5px dashed pink;
// }

// .slider-speed {
//   // display: inline-block;
//   // margin-top: 30px;
//   // margin-left: 160px;
//   // width: 80%;
// direction: rtl;
// }
.control-view {
  margin-top: 4%;
}
