@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.navbar {
  @include m.misc-shadow(
    $x: 1px,
    $y: -4px,
    $blur: 30px,
    $color: v.$bright-pink
  );
  margin-bottom: 30px;
  background-color: v.$background;
  border-bottom: 10px ridge v.$bright-pink;
  padding: 30px;

  img {
    @include m.misc-shadow(
      $x: 6px,
      $y: 11px,
      $blur: 14px,
      $color: v.$transparent-orange
    );

    margin-bottom: 30px;
  }
}
