@use '../utils/variables' as v;
@use '../utils/mixins' as m;

.rules {
  color: v.$background;
}

.about-section {
  background-color: v.$black;
}

h6 {
  color: v.$bright-pink;
}

h2 {
  color: v.$bright-orange;
}

h4 {
  color: v.$bright-orange;
}

p {
  color: v.$bright-blue;
}

.about {
  color: v.$bright-blue;
}

li {
  color: v.$bright-pink;
}
