.App {
  background-color: #302e2e;
  font-family: "Fira Code", monospace;
  color: #e03c8a;

  /* text-align: center; */
}

.App-header {
  padding: 30px;
  font-size: 2rem;
}
img {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.game {
}
.controls {
}

.boardGame {
  display: flex;
  width: 50%;
  margin-top: 100px;
  max-width: 830px;
  margin: 0 auto;
}

canvas {
  margin-left: 150px;
  margin-top: 75px;
}
/* .grid {
  margin-left: 50;
  margin-top: 100px;
  width: 100%;
  text-align: center;
} */

/* .control-buttons {
  display: flex;
  justify-content: center;
  width: 50%;
  margin-top: 20px;
  margin-left: 20px;
} */
